Bulkpayment1.0/SPM-Model/resource/wsdlMts/MTSGW-TSYSTEM.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.7-b01-. -->
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.7-b01-. -->
<definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://server.ws.mts.inswitch.us/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://server.ws.mts.inswitch.us/" name="MTSService">
<types>
<xsd:schema>
<xsd:import namespace="http://server.ws.mts.inswitch.us/" schemaLocation="services.xsd"/>
</xsd:schema>
</types>
<message name="bind">
<part name="parameters" element="tns:bind"/>
</message>
<message name="bindResponse">
<part name="parameters" element="tns:bindResponse"/>
</message>
<message name="identity">
<part name="parameters" element="tns:identity"/>
</message>
<message name="identityResponse">
<part name="parameters" element="tns:identityResponse"/>
</message>
<message name="resetPin">
<part name="parameters" element="tns:resetPin"/>
</message>
<message name="resetPinResponse">
<part name="parameters" element="tns:resetPinResponse"/>
</message>
<message name="unBind">
<part name="parameters" element="tns:unBind"/>
</message>
<message name="unBindResponse">
<part name="parameters" element="tns:unBindResponse"/>
</message>
<message name="usuario">
<part name="parameters" element="tns:usuario"/>
</message>
<message name="usuarioResponse">
<part name="parameters" element="tns:usuarioResponse"/>
</message>
<message name="rol">
<part name="parameters" element="tns:rol"/>
</message>
<message name="rolResponse">
<part name="parameters" element="tns:rolResponse"/>
</message>
<message name="cotizacion">
<part name="parameters" element="tns:cotizacion"/>
</message>
<message name="cotizacionResponse">
<part name="parameters" element="tns:cotizacionResponse"/>
</message>
<message name="consultaSaldo">
<part name="parameters" element="tns:consultaSaldo"/>
</message>
<message name="consultaSaldoResponse">
<part name="parameters" element="tns:consultaSaldoResponse"/>
</message>
<message name="movBilletera">
<part name="parameters" element="tns:movBilletera"/>
</message>
<message name="movBilleteraResponse">
<part name="parameters" element="tns:movBilleteraResponse"/>
</message>
<message name="consultaTrn">
<part name="parameters" element="tns:consultaTrn"/>
</message>
<message name="consultaTrnResponse">
<part name="parameters" element="tns:consultaTrnResponse"/>
</message>
<message name="cambioPin">
<part name="parameters" element="tns:cambioPin"/>
</message>
<message name="cambioPinResponse">
<part name="parameters" element="tns:cambioPinResponse"/>
</message>
<message name="cashInPre">
<part name="parameters" element="tns:cashInPre"/>
</message>
<message name="cashInPreResponse">
<part name="parameters" element="tns:cashInPreResponse"/>
</message>
<message name="cashInConfirm">
<part name="parameters" element="tns:cashInConfirm"/>
</message>
<message name="cashInConfirmResponse">
<part name="parameters" element="tns:cashInConfirmResponse"/>
</message>
<message name="cashOutPre">
<part name="parameters" element="tns:cashOutPre"/>
</message>
<message name="cashOutPreResponse">
<part name="parameters" element="tns:cashOutPreResponse"/>
</message>
<message name="cashOutConfirm">
<part name="parameters" element="tns:cashOutConfirm"/>
</message>
<message name="cashOutConfirmResponse">
<part name="parameters" element="tns:cashOutConfirmResponse"/>
</message>
<message name="cashInPreEscrow">
<part name="parameters" element="tns:cashInPreEscrow"/>
</message>
<message name="cashInPreEscrowResponse">
<part name="parameters" element="tns:cashInPreEscrowResponse"/>
</message>
<message name="cashInConfirmEscrow">
<part name="parameters" element="tns:cashInConfirmEscrow"/>
</message>
<message name="cashInConfirmEscrowResponse">
<part name="parameters" element="tns:cashInConfirmEscrowResponse"/>
</message>
<message name="cashOutPreEscrow">
<part name="parameters" element="tns:cashOutPreEscrow"/>
</message>
<message name="cashOutPreEscrowResponse">
<part name="parameters" element="tns:cashOutPreEscrowResponse"/>
</message>
<message name="cashOutConfirmEscrow">
<part name="parameters" element="tns:cashOutConfirmEscrow"/>
</message>
<message name="cashOutConfirmEscrowResponse">
<part name="parameters" element="tns:cashOutConfirmEscrowResponse"/>
</message>
<message name="remitPre">
<part name="parameters" element="tns:remitPre"/>
</message>
<message name="remitPreResponse">
<part name="parameters" element="tns:remitPreResponse"/>
</message>
<message name="remitConfirm">
<part name="parameters" element="tns:remitConfirm"/>
</message>
<message name="remitConfirmResponse">
<part name="parameters" element="tns:remitConfirmResponse"/>
</message>
<message name="remitNationalPre">
<part name="parameters" element="tns:remitNationalPre"/>
</message>
<message name="remitNationalPreResponse">
<part name="parameters" element="tns:remitNationalPreResponse"/>
</message>
<message name="remitNationalConfirm">
<part name="parameters" element="tns:remitNationalConfirm"/>
</message>
<message name="remitNationalConfirmResponse">
<part name="parameters" element="tns:remitNationalConfirmResponse"/>
</message>
<message name="remitNational_ModifyTransaction">
<part name="parameters" element="tns:remitNational_ModifyTransaction"/>
</message>
<message name="remitNational_ModifyTransactionResponse">
<part name="parameters" element="tns:remitNational_ModifyTransactionResponse"/>
</message>
<message name="selfTopUpPre">
<part name="parameters" element="tns:selfTopUpPre"/>
</message>
<message name="selfTopUpPreResponse">
<part name="parameters" element="tns:selfTopUpPreResponse"/>
</message>
<message name="selfTopUpConfirm">
<part name="parameters" element="tns:selfTopUpConfirm"/>
</message>
<message name="selfTopUpConfirmResponse">
<part name="parameters" element="tns:selfTopUpConfirmResponse"/>
</message>
<message name="cobroPre">
<part name="parameters" element="tns:cobroPre"/>
</message>
<message name="cobroPreResponse">
<part name="parameters" element="tns:cobroPreResponse"/>
</message>
<message name="cobroConfirm">
<part name="parameters" element="tns:cobroConfirm"/>
</message>
<message name="cobroConfirmResponse">
<part name="parameters" element="tns:cobroConfirmResponse"/>
</message>
<message name="salaryPayment">
<part name="parameters" element="tns:salaryPayment"/>
</message>
<message name="salaryPaymentResponse">
<part name="parameters" element="tns:salaryPaymentResponse"/>
</message>
<message name="agentAutoReversion">
<part name="parameters" element="tns:agentAutoReversion"/>
</message>
<message name="agentAutoReversionResponse">
<part name="parameters" element="tns:agentAutoReversionResponse"/>
</message>
<message name="getServiceParameter">
<part name="parameters" element="tns:getServiceParameter"/>
</message>
<message name="getServiceParameterResponse">
<part name="parameters" element="tns:getServiceParameterResponse"/>
</message>
<message name="Exception">
<part name="fault" element="tns:Exception"/>
</message>
<message name="serviceParameter">
<part name="parameters" element="tns:serviceParameter"/>
</message>
<message name="serviceParameterResponse">
<part name="parameters" element="tns:serviceParameterResponse"/>
</message>
<portType name="MTS">
<operation name="bind">
<input message="tns:bind"/>
<output message="tns:bindResponse"/>
</operation>
<operation name="identity">
<input message="tns:identity"/>
<output message="tns:identityResponse"/>
</operation>
<operation name="resetPin">
<input message="tns:resetPin"/>
<output message="tns:resetPinResponse"/>
</operation>
<operation name="unBind">
<input message="tns:unBind"/>
<output message="tns:unBindResponse"/>
</operation>
<operation name="usuario">
<input message="tns:usuario"/>
<output message="tns:usuarioResponse"/>
</operation>
<operation name="rol">
<input message="tns:rol"/>
<output message="tns:rolResponse"/>
</operation>
<operation name="cotizacion">
<input message="tns:cotizacion"/>
<output message="tns:cotizacionResponse"/>
</operation>
<operation name="consultaSaldo">
<input message="tns:consultaSaldo"/>
<output message="tns:consultaSaldoResponse"/>
</operation>
<operation name="movBilletera">
<input message="tns:movBilletera"/>
<output message="tns:movBilleteraResponse"/>
</operation>
<operation name="consultaTrn">
<input message="tns:consultaTrn"/>
<output message="tns:consultaTrnResponse"/>
</operation>
<operation name="cambioPin">
<input message="tns:cambioPin"/>
<output message="tns:cambioPinResponse"/>
</operation>
<operation name="cashInPre">
<input message="tns:cashInPre"/>
<output message="tns:cashInPreResponse"/>
</operation>
<operation name="cashInConfirm">
<input message="tns:cashInConfirm"/>
<output message="tns:cashInConfirmResponse"/>
</operation>
<operation name="cashOutPre">
<input message="tns:cashOutPre"/>
<output message="tns:cashOutPreResponse"/>
</operation>
<operation name="cashOutConfirm">
<input message="tns:cashOutConfirm"/>
<output message="tns:cashOutConfirmResponse"/>
</operation>
<operation name="cashInPreEscrow">
<input message="tns:cashInPreEscrow"/>
<output message="tns:cashInPreEscrowResponse"/>
</operation>
<operation name="cashInConfirmEscrow">
<input message="tns:cashInConfirmEscrow"/>
<output message="tns:cashInConfirmEscrowResponse"/>
</operation>
<operation name="cashOutPreEscrow">
<input message="tns:cashOutPreEscrow"/>
<output message="tns:cashOutPreEscrowResponse"/>
</operation>
<operation name="cashOutConfirmEscrow">
<input message="tns:cashOutConfirmEscrow"/>
<output message="tns:cashOutConfirmEscrowResponse"/>
</operation>
<operation name="remitPre">
<input message="tns:remitPre"/>
<output message="tns:remitPreResponse"/>
</operation>
<operation name="remitConfirm">
<input message="tns:remitConfirm"/>
<output message="tns:remitConfirmResponse"/>
</operation>
<operation name="remitNationalPre">
<input message="tns:remitNationalPre"/>
<output message="tns:remitNationalPreResponse"/>
</operation>
<operation name="remitNationalConfirm">
<input message="tns:remitNationalConfirm"/>
<output message="tns:remitNationalConfirmResponse"/>
</operation>
<operation name="remitNational_ModifyTransaction">
<input message="tns:remitNational_ModifyTransaction"/>
<output message="tns:remitNational_ModifyTransactionResponse"/>
</operation>
<operation name="selfTopUpPre">
<input message="tns:selfTopUpPre"/>
<output message="tns:selfTopUpPreResponse"/>
</operation>
<operation name="selfTopUpConfirm">
<input message="tns:selfTopUpConfirm"/>
<output message="tns:selfTopUpConfirmResponse"/>
</operation>
<operation name="cobroPre">
<input message="tns:cobroPre"/>
<output message="tns:cobroPreResponse"/>
</operation>
<operation name="cobroConfirm">
<input message="tns:cobroConfirm"/>
<output message="tns:cobroConfirmResponse"/>
</operation>
<operation name="salaryPayment">
<input message="tns:salaryPayment"/>
<output message="tns:salaryPaymentResponse"/>
</operation>
<operation name="agentAutoReversion">
<input message="tns:agentAutoReversion"/>
<output message="tns:agentAutoReversionResponse"/>
</operation>
<operation name="getServiceParameter">
<input message="tns:getServiceParameter"/>
<output message="tns:getServiceParameterResponse"/>
<fault message="tns:Exception" name="Exception"/>
</operation>
<operation name="serviceParameter">
<input message="tns:serviceParameter"/>
<output message="tns:serviceParameterResponse"/>
<fault message="tns:Exception" name="Exception"/>
</operation>
</portType>
<binding name="MTSPortBinding" type="tns:MTS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="bind">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="identity">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="resetPin">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="unBind">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="usuario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="rol">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="cotizacion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="consultaSaldo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="movBilletera">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="consultaTrn">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="cambioPin">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="cashInPre">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="cashInConfirm">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="cashOutPre">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="cashOutConfirm">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="cashInPreEscrow">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="cashInConfirmEscrow">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="cashOutPreEscrow">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="cashOutConfirmEscrow">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="remitPre">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="remitConfirm">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="remitNationalPre">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="remitNationalConfirm">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="remitNational_ModifyTransaction">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="selfTopUpPre">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="selfTopUpConfirm">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="cobroPre">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="cobroConfirm">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="salaryPayment">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="agentAutoReversion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getServiceParameter">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="serviceParameter">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
</binding>
<service name="MTSService">
<port name="MTSPort" binding="tns:MTSPortBinding">
<soap:address location="https://10.32.10.5:6448/MTS/services"/>
</port>
</service>
</definitions>